.container {
  position: relative;
  width: 100%;
  max-width: 800px;
}

img {
  position: relative;
  width: 93%;
  max-width: 600px;
}

.container2 {
  position: relative;
  max-width: 800px;
}

h1 {
  font-size: 5rem;
  color: azure;
  font-family: Ubuntu;
  font-weight: lighter;
}
h2 {
  font-size: 2rem;
  font-family: Ubuntu;
}


h3 {
  font-size: 2rem;
  color: azure;
  font-family: Ubuntu;
  font-weight: lighter;
}
/* Bottom right text */
.text-block {
  position: absolute;
  /* bottom: 20px;
  right: 20px; */
  /* background-color: rgba(0, 0, 0, 0.3); */
  color: white;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

p {
  font-family: Ubuntu;
  font-size: 1rem;
  
}

#coinFlip {
  color: azure;
  font-family: Ubuntu;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 2rem;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  opacity: 0.6;
  transition: 0.3s;
}



.container #coinFlip:hover {
  background-color: black;
  color: white;
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

section {
  grid-column: main;
}


/* Demo Specific Styles */
body {
  padding: 2em 0;
  max-width: 800px;
  align-content: center;
}

article > * {
  background-color: #eaeaea;
  padding: 2em;
}

figure {
  text-align: center;
}

img {
  max-width: 100%;
}